<div id="pageBody">
    <p><%= link_to "ホーム", "/" %></p>
    <p># 話題を検索</p>
    <p><%= link_to "通知", "/" %></p>
    <p><%= link_to "メッセージ", "/" %></p>
    <p><%= link_to "ブックマーク", "/" %></p>
    <p><%= link_to "リスト", "/" %></p>
    <p><%= link_to "プロフィール", "/" %></p>
    <p><%= link_to "もっと見る", "/" %></p>
    <p><%= link_to "ツイートする","/tweets/new" %></p>
    
</div>

<div id="pageSub">
    <% @tweets.each do |tweet| %>
        <div class="box">
            <%= tweet.message %>
            <%= (Time.current.min - tweet.tdate.min).abs %>分前
            <br>
            <%= link_to "削除", "/tweets/#{tweet.id}", method: :delete %>
            <%= link_to "表示", "/tweets/#{tweet.id}" %>
            <%= link_to "編集", "/tweets/#{tweet.id}/edit" %>
        </div>
    <% end %>
</div>
